body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 14px;
  background-color: red;
}

header {
  background-color: blue;
  position: sticky;
}

footer {
  background-color: blue;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}

h1 {
    text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media p {
  font-size: 16px;
  margin: 10px;
}

.pokedex {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.list-group-item {
  background-color: yellow;
  padding: 15px 32px
  text-align: center;
  font-size: 16px;
  margin: 40px auto;
  width: 10em;
}

.pokemon-list {
list-style-type: none;
}


.modal h1 {
text-align: center;
text-transform: capitalize;
}


.modal-img {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
height: auto;
}

.modal-body
{
  background: white;
}
